/*compop*/

ol,ul,li{list-style:none}
.lpn_mask {background-color: #000;height: 100%;width:100%;left: 0;margin: 0;opacity: 0.4;filter:alpha(opacity=40);padding: 0;position: absolute;top: 0;}
.panel-bg{position:fixed;background:rgba(0,0,0,0.2);padding:5px;z-index:9999;height:auto; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d000000,endColorstr=#2d000000);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d000000,endColorstr=#2000000);
}

.panel-box{background:#fff;width:500px;color:#444;}
.panel-tt{white-space:nowrap;line-height:100%;padding:10px;font-size:14px;background-color:#f1f1f1;font-weight:bold;position:relative;}
.panel-close{background:url(../images/close-icon.png) no-repeat 0 0;position:absolute;top:5px;right:10px;width:20px;height:20px;}
.panel-close:hover{background-position:0 -20px;}
.texttype{border:1px solid #ddd;font-size: 16px;height:34px;line-height:34px;padding: 0 5px;width:238px;}
.panel-con{padding:30px;}
.fiebox li{margin:0 0 10px 0;}
.pd-type{padding:15px 0 15px 75px;}
.error{color:#f33;font-size:12px;padding:5px 0 0 75px;}
.btntype1,
.btntype2{height:36px;text-align:center;line-height:34px;*line-height:36px;font-size:14px;border:0;width:120px;cursor:pointer;}
.btntype1:hover{background-color:#f46200;}
.btntype1{background-color:#f60;color:#fff;margin-right:5px;}
.btntype2{background-color:#d5d5d5;color:#666;}
.btntype2:hover{background-color:#c9c9c9;}
.pubgrade-con{height:300px; overflow-y:auto;padding:30px;}
.pubgrade-s{margin:0 0 20px 0;}
.pubgrade{width:390px;margin:0 auto;}
.pubgrade a{height:38px;padding:0 10px;border:solid 1px #ddd;background:#fff;position:relative;display:inline-block;color:#666;line-height:38px;width:160px;margin:0 10px 10px 0;}
.pubgrade a:hover{border-color:#54b72a;color:#2b8f00;}
.pubgrade a.on{border-color:#54b72a;background-color:#f3ffee;color:#2b8f00;font-weight:bold;}
.pubgrade a.on em{background:url(../images/check-icon.png) no-repeat 0 0;width:21px;height:21px;position:absolute;right:0;bottom:0;}
.pubbtn{text-align:center;margin:20px 0;}
.panel-p,.panel-p2{margin:30px auto;line-height:30px;}
.panel-p2{text-align:center;}